/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");

  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --header-logo-color: #DB00FF;
  --main-bg-color: #000028;
  --main-text-color: #F1B2CE;
  --button-hover-color: 255, 0, 112;
  --title-accent-color: #000028;

  .sidebar {
    display: flex;
  }

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}