/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");

  --accent-color: #FF8DCB;
  --header-logo-color: #FFC2E6;
  --main-text-color: #353430;
  --main-bg-color: #353430;
  --nav-color: #353430;

  .sidebar {
    display: none;
  }

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");

    --accent-color: #FF8DCB;
    --header-logo-color: #FFC2E6;
    --main-text-color: #353430;
    --main-bg-color: #353430;
    --nav-color: #353430;
  }

  .sidebar {
    display: none;
  }
}