html {
  block-size: 100%;
}

.page {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family);
  margin: 0 auto;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  padding: 0 10px;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 19px;
}

.rec {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.rec::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-start: 10px;
}

.decorated-zone {
  position: relative;
  block-size: 100%;
  inline-size: 100%;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header__theme-menu {
  grid-row: 1;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  list-style: none;
  margin-block-start: 7px;
}

.header__theme-menu-button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: var(--nav-color);
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 1px 13px 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--button-hover-color), 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid currentColor;
}

.header__logo {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-weight: 700;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 0;
  inline-size: 355px;
  grid-row: 2;
  transform: translateY(-2px);
}

.header__description {
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  margin-block-start: 1px;
  margin-block-end: 15px;
  grid-row: 3;
}

.title-decor {
  line-height: 23.4px;
  color: #000028;
  background-color: var(--accent-color);
}

/* MAIN */

.content {
  display: grid;
  padding: 0 10px;
  gap: 30px;
  margin-block-start: 40px;
}

.causes .content-section__title {
  grid-column: 1 / -1;
  max-width: 355px;
}

.causes .text-blocks {
  grid-column: 1 / -1;
}

.content-section__title {
  color: var(--nav-color);
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 23.4px;
  margin: 0 0 20px;
}

.text-block__title,
.text-block__subtitle {
  background-color: var(--accent-color);
  color: var(--title-accent-color);
  font-size: 18px;
  line-height: 23.4px;
}

.text-block__title {
  font-weight: 700;
  margin: 0 0 10px;
  padding: 0;
}

.text-block__title-special {
  margin-block-end: 20px;
}

.text-block__subtitle {
  font-weight: 400;
  margin: 0 0 10px 0;
}

.text-block__content {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin: 0 0 20px;
}

.link {
  text-shadow: 2px 1px 1px var(--accent-color);
  text-decoration: none;
  color: var(--main-text-color);
  transition: border-bottom 0.3s ease;
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/* Секция 4 */

.images__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.images__item {
  inline-size: 100%;
  block-size: auto;
  display: block;
}

.images-title {
  background-color: var(--accent-color);
  color: var(--title-accent-color);
  font-size: 18px;
  margin: 1px 0 10px 0;
}

/* footer */

.footer {
  min-height: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
}

.footer__logo {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  color: var(--header-logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >=768px) {
  .header {
    min-height: 1024px;
    padding: var(--main-gap);
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin-inline-end: 10px;
  }

  .header__logo {
    position: relative;
    justify-self: start;
    align-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    inline-size: 576px;
    inset-inline-start: calc(-1 * var(--main-gap));
  }

  .header__description {
    inline-size: 364px;
    justify-self: end;
    align-self: center;
    grid-column: 1/2;
    margin-inline-end: 10px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 25px;
  }

  .sidebar {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }

  .content {
    padding: 0 20px;
    gap: 60px;
    margin-block-start: 60px;
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 18px;
    align-items: flex-start;
  }

  .content-section__title {
    margin: 0;
  }

  .causes .content-section__title {
    grid-column: 1 / -1;
    max-width: 236px;
  }

  .text-block__title {
    margin: 0 0 10px;
  }

  .text-block__title-special {
    margin-block-end: 20px;
  }

  .text-block__subtitle {
    margin-block-end: 10px;
  }

  .images-title {
    margin-block-end: 20px;
  }

  .images__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .images__list li:first-of-type {
    grid-column: span 2;
  }

  .images__list li:nth-of-type(2) {
    grid-row: span 2;
  }

  .images__list li:nth-of-type(3) {
    grid-row: span 2;
  }

  .images__list li:last-of-type {
    grid-column: span 2;
  }

  .images__item {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .footer {
    min-height: 1024px;
    text-align: center;
    height: 100vh;
    margin-block-start: 60px;
  }
}

@media (width >=1024px) {
  .header {
    min-height: 768px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-block-start: 10px;
    margin-inline-start: 10px;
  }

  .header__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    inline-size: 759px;
  }

  .header__description {
    inline-size: 491px;
  }

  .causes .text-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .causes .content-section__title {
    grid-column: 1 / 2;
    margin: 0;
    max-width: none;
  }

  .footer {
    min-height: 768px;
    height: 100vh;
    margin-block-start: 60px;
  }

  .footer__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    inline-size: 471px;
  }
}