:root {
  --main-font-family: 'IBM Plex Mono', monospace;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --main-bg-color: #000028;
  --main-text-color: #F1B2CE;
  --header-logo-color: #DB00FF;
  --bg-image: url("../images/cover-image-dark.png");
  --main-gap: 10px;

}

/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/